<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
   <appSettings>
    <add key="ipaddress" value=""/>
    <add key="xmlPath" value="D:\appletvliar\AppleTest\bin\Debug"/>
  </appSettings>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EchoServiceBehavior">
          <serviceCredentials>
            <serviceCertificate storeLocation="LocalMachine" x509FindType="FindByIssuerName" storeName="Root" findValue="trailers.apple.com" />
          </serviceCredentials>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="MutualSslBinding" closeTimeout="00:01:00" openTimeout="00:01:00" 
                 receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" 
                 bypassProxyOnLocal="false" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" 
                 maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" 
                 transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" 
                        maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="MikrainService.MikrainServiceMethods" behaviorConfiguration="EchoServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="https://192.168.1.109:443/"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MutualSslBinding" contract="MikrainService.IMikrainService">
        </endpoint>
      </service>
    </services>
    <!-- If this service is hosted in IIS Environment -->
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add service="MikrainService.MikrainServiceMethods, MikrainService.MikrainServiceMethods" relativeAddress="EchoService.svc" />
      </serviceActivations>
    </serviceHostingEnvironment>-->
  </system.serviceModel>
</configuration>
